
/* this is the netlify 
https://gallant-carson-0e1470.netlify.app/ */

:root {
    --white: rgb(247, 243, 236);
    --brown: rgb(112, 84, 24);
    --tan: rgb(172, 159, 131);
    --light_tan: rgba(158, 139, 102, 0.267);
    --hover:  rgba(218, 218, 218, 0.144);
    --blue: rgb(140, 163, 157);
    --black: rgb(17, 19, 20);
    --gray: rgb(202, 202, 202);
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html{
    box-sizing:border-box;
    scroll-behavior: smooth;
    animation-duration: 3s, 4.8s;
    animation-name: moveEvery,fadin;
    animation-iteration-count: 1;
    animation-direction: alternate;
    
  }
  @keyframes fadin{
      from{
          opacity:0
             
      }
      to{
          opacity: 1
      }
  }

  @keyframes moveEvery {
    from {
      margin-left: 100%;
      width: 300%;
      animation-duration: 2s;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


main{
    font-family: 'Permanent Marker', cursive;
    z-index: 1px;

}
h1  {
    color: var(--black);
    font-size: 400%;
    font-family: 'Permanent Marker', cursive;
}
h2 {
    font-size: 210%;
    text-align: center;
}
h3 {
    font-size: 280%;
    font-family: 'Akaya Kanadaka', cursive;
    text-align: center;
}


a {
    text-decoration: none;
    display: block;
    
}
p.text{
    font-size: 280%;
    font-family: 'Akaya Kanadaka', cursive;

}

#navbar{
    
    overflow:hidden;
    display:flex;
    justify-content: flex-end;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 10;
    background-color:var(--tan);


}

.nav-list{
    
    display: flex;
    justify-content: flex-end;
    list-style: none;  
}
    
.nav_text {
    font-family: 'Akaya Kanadaka', cursive;
    color:var(--white);
    display: block;
    padding: 12px;
    font-size: 1.9em;
    text-shadow: 1px 1px 2px #3d3d3d;
    transition: transform 0.2s ease-out;  
}


.nav-list a:hover{
    background-color:var(--hover);
}

.intro_text{
    color:var(--white);
    font-size: 175%;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}

#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--gray);
    background-image: linear-gradient(180deg, rgb(96, 154, 161), rgba(72, 78, 40, 0.349));
    color:var(--blue);
    width: 100%;
    height: 100vh;
}
#projects{
    
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    background-color:var(--light_tan);
    height: 65em;
    width: auto;
    
    
    
}
#projects h3 {
    text-align: center;
    width:70%;
    border-bottom: 3px solid var(--gray) ;
    text-shadow: 10px;


}
#projects p{
    font-size: 40px;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif


}
.grid {
    grid-template-columns: 1fr;
  }
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 4rem;
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  

.project-tile{
    display: flex;

    justify-content: center;
    align-items: center;
    margin: .4em;
    

}
.project-tile:hover {
    color:var(--hover);
     transform: translateY(5px);
     
      
}



figcaption{
   position: relative;
   text-align: center;
    height: 50px;
    font-size: 170%;
    width:360px;
    bottom: 22px;
    color:var(--black);
    background-color:var(--gray);

}

figcaption > span {
    color:var(--blue);
    display: none;

  }
  figcaption:hover > span {
      display:contents;
     
      font-size: 100% ;
      transform: translateY(4px);
  } 

li > a{
    font-size: x-large;
    padding: .4em .5em;
}






.studio{
    position:static;
    width:360px;
    height: 240px;
    border-radius: 10px;
}

#contact{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--gray);
    background-image: linear-gradient(180deg,  rgba(72, 78, 40, 0.349), rgb(96, 154, 161));
    height: 60vh;
}
#contact_info{
    color: var(--black);
    font-size: 110%;
    text-align: center;
    
}

.contact-links {
    display: flex; 
    justify-content: space-between;
    
}
.contact-links a {
    display: block;
    padding-top: 35px;
    font-size: 1.4em;
    margin:1em;
    color: var(--white);
    text-shadow: 1.5px 2px 2px #1f1f1f;
    transition: transform 0.2s ease-out;
    
}

footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--tan);
    height: 15%;
    color: var(--black);
    font-family: 'Gloria Hallelujah', cursive;
}
footer p {
    padding-left: 4em;
    padding-right: 4em;
}

@media(max-width: 100px){
    html{ 
        font-size:100%;
    }
    .studio{
        width:360px;
        height: 240px;
    }
@media(max-width: 1000px){
    html{
        font-size: 80% !important;
    }
    .studio{
        width:220px;
        height: 160px;
    }
}
    
@media(max-width: 500px){
    html{
        font-size:60% !important;
        
    }
    .studio{
        width:110px;
        height:75px;


    }
}