* {
    margin: 0;
    box-sizing: border-box;
}

#main {
    font-family: 'Akaya Kanadaka', cursive;
    font-family: 'Permanent Marker', cursive;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}

figure > img {
    height: 200px;
}